.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  background-color: var(--color-bg);
}

.todolist {
  flex: 1 1 auto;
  padding: 20px;
  overflow-y: auto;
}
