:root {
  --color-bg: #fefefe;
  --color-bg-dark: #f9f9f9;
  --color-gray: #ddd;
  --color-white: #fff;
  --color-text: #002d62;
  --color-point: #6699cc;
  --color-scrollbar: #080808;
  --color-gradient-start: #fdff9a;
  --color-gradient-end: #89cff0;
  --color-input: #fff;
}

html.dark:root {
  --color-bg: #333;
  --color-bg-dark: #222;
  --color-gray: #666;
  --color-text: #999;
  --color-gradient-start: #00308f;
  --color-gradient-end: #222;
  --color-input: #333;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100wh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-gradient-start);
  background: linear-gradient(
    180deg,
    var(--color-gradient-start) 0%,
    var(--color-gradient-end) 100%
  );
  accent-color: var(--color-point);
}

#root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 60%;
  max-width: 500px;
  background: var(--color-bg-dark);
  border-radius: 10px;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.3);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  outline: 0;
  cursor: pointer;
}

svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-bg-dark);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-point);
}
